body *{
	text-align: center;
	color: white;
}
*{
	background-color: black;
}
button {
-webkit-align-items: flex-start;
text-align: center;
cursor: default;
color: buttontext;
padding: 2px 6px 3px;
padding-top: 2px;
padding-right: 6px;
padding-bottom: 3px;
padding-left: 6px;
border: 2px outset buttonface;
border-top-color: buttonface;
border-top-style: outset;
border-top-width: 2px;
border-right-color: buttonface;
border-right-style: outset;
border-right-width: 2px;
border-bottom-color: buttonface;
border-bottom-style: outset;
border-bottom-width: 2px;
border-left-color: buttonface;
border-left-style: outset;
border-left-width: 2px;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: buttonface;
box-sizing: border-box;
}